{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>About us</h2>
      <p>
        This is a website designed to list rare console variations. This is an app that was developed as part of Assignment 2 in Web App Development 1. It uses <a href="https://cloudinary.com">Cloudinary</a> for the image upload and hosting handling as well as <a href="https://victordiego.com/lightbox/">LightboxJS</a> for the image viewing.
      </p>
  
  <h2>
    For buisness inquiries:
  </h2>
  <p>
    <b>Email: </b><email>info@rareconsolevariations.com</email><br><b>Phone: </b>(089) 2249473
  </p>
  <h2>
    Address:
  </h2>
    
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.393906440123!2d-74.0024131232855!3d40.75336027138743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259b161a76937%3A0xddb8dc3a22459e93!2sAmazon%20New%20York!5e0!3m2!1sen!2sie!4v1709492640694!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>
<section class="ui left aligned middle aligned segment">
  
<div class="ui center aligned grid">
    <div class="eight wide column">
      <h1>Website statistics</h1>
        <div class="ui centered two statistics">
          <div class="statistic">
            <div class="value">
              <i class="nintendo switch icon"></i> 
            </div>
            <div class="label">
              {{displayNumCollections}} manufacturers
            </div>
          </div>

          <div class="statistic">
            <div class="value">
              <i class="gamepad icon"></i> 
            </div>
            <div class="label">
              {{displayNumConsoles}} unique consoles
            </div>
          </div>
          
          <div class="statistic">
            <div class="value">
              <i class="gamepad icon"></i> 
            </div>
            <div class="label">
              {{displayLargestCollection}} - Most unique consoles
            </div>
          </div>
          
          <div class="statistic">
            <div class="value">
              <i class="gamepad icon"></i> 
            </div>
            <div class="label">
              {{displaySmallestCollection}} - Least unique consoles
            </div>
          </div>

        </div>
      
    </div>
  </div>
  
</section><br>