{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <div>
    <p style="font-size: 18px; font-weight: bold;"> 
      Welcome to the Rare Console Variations website
    </p>
    <p>
      Here, you can keep track of your collection of rare consoles, including uploading your own images!
    </p>
  </div>
</section>

<section class="ui center aligned middle aligned segment">
  <img src="https://cdn.glitch.global/aac95dbd-a794-413f-a658-c6dd90117f66/splash-image.jpg?v=1709492961857" class="ui centered image">
</section>

<section class="ui center aligned middle aligned segment">
  <div>
    <p style="font-size: 18px; font-weight: bold;"> 
      <a href="/signup" style="color: #007bff; text-decoration: none;">Sign up</a> or 
      <a href="/login" style="color: #007bff; text-decoration: none;">Log in</a>...
    </p>
  </div>
</section><br>

