html {
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: larger;
}

h1.title {
  text-align: center;
}

nav {
  border-bottom: 1px solid black;
}

nav.fp-nav ol {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

li.fp-nav-li {
  display: inline-block;
}

li.fp-nav-li a::after {
  display: inline-block;
  color: #000;
  content: "|";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

img.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.fp {
  text-align: center;
}

div.fp-list {
  text-align: center;
}

ul.fp-list {
  text-align: left;
  display: inline-block;
}

footer {
  text-align: center;
  position: relative;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-style: solid;
  border-width: 0px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-content {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}
