<nav class="ui menu">
  <header class="ui header item">
    <a href="/start"> Rare Console Variations </a></header>
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
    <a id="database" class="item" href="/database"> Personal Collection </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>